body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  button {
    font-size: 1rem;
    padding: 8px 16px;
    margin: 4px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.3s;
    display: block;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
}
  
  button:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  button:nth-child(1) {
    background-color: #3498db;
    color: #fff;
  }
  
  button:nth-child(2) {
    background-color: #2ecc71;
    color: #fff;
  }
  
  button:nth-child(3) {
    background-color: #f1c40f;
    color: #fff;
  }
  
  button:nth-child(4) {
    background-color: #e74c3c;
    color: #fff;
  }